/* ==========================================================================
 clearfix
========================================================================== */
.u-cf{
    min-height: 1%;
  &:after {
    clear: both;
    content: ".";
    height: 0;
    visibility: hidden;
	}
}
