/* ==========================================================================
 color
========================================================================== */
.u-clr-white{
	color: #fff !important;
}
// .u-clr-black{
// 	color: #000 !important;
// }
.u-clr-black{
	color: #333 !important;
}

.u-clr-inherit{
	color: inherit !important;
}

.u-color-navy{
	color:#291B56;
	}
.u-color-green{
	color:#1BEBA9;
	}
.u-color-white{
	color:#fff;
	}
