/* ==========================================================================
 font-size
========================================================================== */
for $value in (1)..(9)
  .u-fz-{$value * 2 + 8}
    font-size: (2rem * $value + 8) / 10 !important
@media screen and (max-width: $break-point-sp)
  for $value in (1)..(9)
    .u-fz-sp-{$value * 2 + 8}
      font-size: (2rem * $value + 8) / 10 !important