/* ==========================================================================
 letter-spacing
========================================================================== */
.u-ls-1 {
	letter-spacing: -.1em !important;
}
