/* ==========================================================================
 line-height
========================================================================== */
@for $value from 0 to 21 {
    .u-lh-#{$value} {
        line-height: 0.1 * $value !important;
    }
}