/* ==========================================================================
 text-decoration
========================================================================== */
.u-td-u {
    text-decoration: underline !important;
    text-decoration-color:#1BEBA9;
}

.u-td-n {
    text-decoration: none !important;
}

.u-td--through {
    text-decoration: line-through;
}
.underline--green{
    border-bottom:solid;
    border-color:#1BEBA9;
    border-width:4px;
}
