/* ==========================================================================
 vertical-align
========================================================================== */
.u-va-t {
    vertical-align: top !important;
}

.u-va-m {
    vertical-align: middle !important;
}

.u-va-b {
    vertical-align: bottom !important;
}

.u-va-bl {
    vertical-align: baseline!important;
}

.u-va-sup
    vertical-align: super;