/* ==========================================================================
 width
========================================================================== */
.u-w-auto {
  width: auto !important;
}

.u-w-full {
  width: 100% !important;
}

.u-w-threeQuarter {
  width: 75% !important;
}

.u-w-half {
  width: 50% !important;
}

.u-w-quarter {
  width: 25% !important;
}
.u-w-min-100 {
  min-width: 100px !important;
}

.u-w-max{
  max-width: $max-width-main;
}
